@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body, input, textarea, button, select {
  font-family: 'lato';
  font-style: italic;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


html, body {
    background: url(https://cdn.wallpapersafari.com/46/78/FkSXUz.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header nav ul {
  background-color:#5C7599C6;
  box-sizing: border-box;
  box-sizing: stretch;
  list-style: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 10px 10px 16px;

}

main {

  margin: 100px auto;
}
header nav ul li {
  display: inline-block;
  margin: 0 1em;
  padding: 1em 0 1em 0;
}

header nav ul li a {
  font-weight: bold;
  text-decoration: none;
}

input {
  height: 1.5em;
  margin: 0;
  padding: .25em .5em;
  background-color:white;
  border: 1px solid black;
}

select {
  height: 2.5em;
  background-color:white;
  border: 1px solid black;
}

select[multiple] {
  height: 7.5em;
  background-color:white;
  border: 1px solid black;
}


textarea {
  margin: 0;
  padding: .25em .5em;
  background-color:white;
  border: 1px solid black;
}

table {
  width: 100%;
  padding-bottom: 20px;
}

label {
  font-style: bold italic;

}
p a {
    font-family: 'lato';
  font-style: italic;
  font-size: 16px;
  margin: 0;
  padding-right: 5px;
  text-decoration: none;
}
a {
  font-family: 'lato';
  font-style: italic;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;}

.search {
  position:absolute;
  top: 10px;
  right: 15px;

}
.helptext {
  display: block;
  font-size: 80%;
}

.login-form,
.signup-form {
  background-color:#5C7599C6;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  padding: 2em;
}


.task-form,
.add-note,
.edit_task,
.edit_project,
.delete_project,
.delete_task,
.project-form {
  background-color: #5C7599C6;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}

.task-form h1,
.task_detail h1,
.edit_task h1,
.edit_project h1,
.delete_project h1,
.delete_task h1,
.search_results h1,
.add-note h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
  margin-top: 0;
}


.project-detail h2 {
  margin-top: 2em;
}

.task-form p,
.add-note p,
.edit_task p,
.task_detail p,
.edit_project p,
.login-form p,
.signup-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

.delete_task p,
.delete_project p {
  text-align: center;
  color: rgb(170, 0, 0);
  font-size: x-large;

}

.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

.delete-button button{
  padding: 0.25em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: rgb(170, 0, 0);
  font-size: 18px;
  border-radius: 10px;
  width: 120px;
  height: 20px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #0236077F;
}

.task-form button,
.cancel-button button,
.search button,
.edit_task button,
.edit_project button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.add-note button,
.project-form button{
  padding: 0.25em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  width: 120px;
  height: 20px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #0236077F;
  }


.my-tasks-list,
.task_detail,
.edit_task
.delete_task,
.delete_project,
.search_results,
.project-list,
.edit_project,
.project-detail {
  background-color: #5C7599E8;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
  }

.my-tasks-list th,
.my-tasks-list td,
.task_detail th,
.edit_task th
.delete_task th,
.add-note th,
.edit_project th,
.delete_project th,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: .5em;
}


.my-tasks-list thead tr th,
.task_detail thead tr th,
.edit_task thead tr th,
.delete_task thead tr th,
.search_results thead tr th,
.add-note thead tr th,
.edit_project thead tr th,
.delete_project thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid Black;
}


.my-tasks-list  tbody td:nth-child(2),
.my-tasks-list  tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.task_detail tbody tr td,
.edit_task tbody tr td,
.delete_task tbody tr td,
.edit_project tbody tr td,
.delete_project tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td :nth-child(5) {
  text-align: center;
  text-decoration: none;
}


.my-tasks-list tbody :not(tr:last-child) td,
.task_detail tbody :not(tr:last-child) td,
.edit_task tbody :not(tr:last-child) td,
.delete_task tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.edit_project tbody :not(tr:last-child) td,
.delete_project tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid black;
}
